.center-div {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    text-decoration: none;
    font-size: 25px;
}
.my-image{
    width: 80px;
    height: 80px;
}

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333; /* Change the background color as needed */
       padding: 15px;
        color: white;
    }

    .profile {
        display: flex;
        align-items: center;
    }

    .profile-img {
        width: 50px;
        height: 50px;
        border-radius: 50%; /* Makes the image circular */
        margin-right: 10px;
    }

    .profile-info h1 {
        margin: 0;
        font-size: 24px;
    }

    .profile-info p {
        margin: 0;
        font-size: 16px;
    }

    .logout a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 5px;
        margin-right: 2px;
       
    }

    /* ----------------- */
    

